section.page {
    min-height: 101vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;

    &:first-child {
        min-height: 90vh;
    }

    &.chef,
    &.hair {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
    }
    .hero {
        overflow: hidden;
        height: 500px;
        align-self: center;
        justify-self: center;
        display: flex;

        a {
            display: flex;
        }

        &:hover img[class$="-right"] {
            transform: translate(0%, 0%);
        }

        &:hover img[class$="-left"] {
            transform: translate(0%, 0%);
        }

        img {
            height: 500px;
            transition: transform 0.3s ease-in-out;
            &[class$="-right"] {
                transform: translate(0%, 10%);
            }

            &[class$="-left"] {
                transform: translate(0%, -10%);
            }
            cursor: pointer;
        }
    }

    &:nth-child(2) {
        background: $second-gradient;
    }

    &:nth-child(3) {
        background: $third-gradient;
    }
}
