include mixins
<!DOCTYPE html>
html(lang="en")
    +head("Photography")
    body
        +main("/../img/photo-bg.jpg", "Robert Edwards", "Photography", "/../img/photo-profile.jpg", "/../img/photo-gallery-")
        // All photos taken from: https://www.pexels.com/@felixmittermeier
