include mixins
<!DOCTYPE html>
html(lang="en")
    +head("Hair Stylist")
    body
                +main("/../img/barber-bg.jpg", "Áquila Ferreira", "Hair Stylist", "/../img/barber-profile.jpg", "/../img/barber-gallery-")