.page-1
    h3 01
    svg.slide.active(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        circle(cx='6' cy='6' r='6' fill='white' fill-opacity='0.5')
.page-2
    h3 02
    svg.slide(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        circle(cx='6' cy='6' r='6' fill='white' fill-opacity='0.5')

.page-3
    h3 03
    svg.slide(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        circle(cx='6' cy='6' r='6' fill='white' fill-opacity='0.5')