section.page.chef
        .details
            h1 Cameron Steward
            h2 Pro chef
            p 02/26/12
        .hero
            a(href="shared/pug/components/pages/cooking.pug", target="_blank")   
                img.chef-left.model-left(src="../img/chef-left.jpg" alt="model")    
                img.chef-right.model-right(src="../img/chef-right.jpg" alt="model")