section.page.photographer
        .details
            h1 Robert Edwards
            h2 Photography
            p 01/18/14
        .hero
            a(href="shared/pug/components/pages/photography.pug", target="_blank")   
                img.model-left(src="../img/model-left.jpg" alt="model")    
                img.model-right(src="../img/model-right.jpg" alt="model")