section.page.hair
        .details
            h1 Áquila Ferreira
            h2 Pro stylist
            p 08/17/12
        .hero
            a(href="shared/pug/components/pages/stylist.pug", target="_blank")
                img.hair-left.model-left(src="../img/hair-left.jpg" alt="model")    
                img.hair-right.model-right(src="../img/hair-right.jpg" alt="model")