@font-face {
    font-family: PopLight;
    src: url('/../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PopMed;
    src: url('/../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: PopReg;
    src: url('/../fonts/Poppins-Regular.ttf');
}
