$regular: Popreg;
$medium: PopMed;
$light: PopLight;
$first-gradient: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
$second-gradient: radial-gradient(rgba(78, 48, 2, 1), rgba(22, 22, 22, 1));
$third-gradient: radial-gradient(rgba(78, 69, 66, 1), rgba(22, 22, 22, 1));
$open: -100%;
$logo: #000;
