@import "../abstract/font";
@import "../abstract/variables";

main {
    font-family: $regular;
    
    .banner {
        height: 50vh;
        width: 100%;
        position: relative;
        text-shadow: -2px 4px 8px rgba(0, 0, 0, 0.5);
 
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .author {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -70%);
            text-align: center;
            color: #FFF;
            z-index: 2;

            h1 {
                font-size: 42px;
            }

            h3 {
                padding: 10px 0;
                font-size: 32px;
            }
        }
    }

    .story,
    .my-work {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding: 80px 0;
        align-items: center;
    }

    .story-description,
    .work-description {
        width: 50%;
    }

    .story-description h3, .work-description h3 {
        font-size: 36px;
        padding-bottom: 30px;
    }

    .story-description p, .work-description p {
        padding: 20px 0;
        font-size: 20px;
        font-family: $light;
    }

    .work-gallery {
        & > img {
            display: block;
            height: 262px;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }
}

@import "../layout/media";