body {
    font-family: $light;
}

.page {

    .details {
        grid-column: 2/3;
        align-self: end;

        h1 {
            font-size: 64px;
            font-family: $regular;
        }

        h2 {
            font-size: 42px;    
            padding: 20px 0px;
        }

        p {
            font-size: 24px;
            padding: 20px 0px 50px 0px;
        }
    }
}